---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&lat=38.4783&lon=-107.8762&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.4783,"lon":-107.8762,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647552031,"sunrise":1647523174,"sunset":1647566407,"temp":44.65,"feels_like":38.86,"pressure":1020,"humidity":35,"dew_point":20.21,"uvi":3.75,"clouds":100,"visibility":10000,"wind_speed":11.5,"wind_deg":300,"wind_gust":23.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1647552060,"precipitation":0},{"dt":1647552120,"precipitation":0},{"dt":1647552180,"precipitation":0},{"dt":1647552240,"precipitation":0},{"dt":1647552300,"precipitation":0},{"dt":1647552360,"precipitation":0},{"dt":1647552420,"precipitation":0},{"dt":1647552480,"precipitation":0},{"dt":1647552540,"precipitation":0},{"dt":1647552600,"precipitation":0},{"dt":1647552660,"precipitation":0},{"dt":1647552720,"precipitation":0},{"dt":1647552780,"precipitation":0},{"dt":1647552840,"precipitation":0},{"dt":1647552900,"precipitati[...]
