---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&lat=38.4783&lon=-107.8762&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.4783,"lon":-107.8762,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646841772,"sunrise":1646832713,"sunset":1646874742,"temp":30.13,"feels_like":24.87,"pressure":1011,"humidity":70,"dew_point":22.51,"uvi":0.91,"clouds":100,"visibility":10000,"wind_speed":5.01,"wind_deg":5,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1646841780,"precipitation":0},{"dt":1646841840,"precipitation":0},{"dt":1646841900,"precipitation":0},{"dt":1646841960,"precipitation":0},{"dt":1646842020,"precipitation":0},{"dt":1646842080,"precipitation":0},{"dt":1646842140,"precipitation":0},{"dt":1646842200,"precipitation":0},{"dt":1646842260,"precipitation":0},{"dt":1646842320,"precipitation":0},{"dt":1646842380,"precipitation":0},{"dt":1646842440,"precipitation":0},{"dt":1646842500,"precipitation":0},{"dt":1646842560,"precipitation":0},{"dt":1646842620,"precipitati[...]
