---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=Telluride,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.199 TT 0 0.204"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 39940,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7543605W",
                    "type": "work",
                    "seed": [
                        "/books/OL6281493M",
                        "/works/OL7543605W",
                        "/subjects/education",
                        "/subjects/place:united_states",
                        "/authors/OL2307676A"
                    ],
                    "title": "Telluride Association and Deepsprings",
                    "title_suggest": "Telluride Association and Deepsprings",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL6281493M"
                    ],
                    "publish_date": [
                        "1928"
                    ],
                    "publish_year": [
                        1928
                    ],
                    "first_publish_year": 1928,
                    "number_of_pages_median": 43,
                    "lccn": [
                        "32030075"
                    ],
                    "publish_place": [
                        "[Malden, Mass"
                    ],
                    "oclc": [
                        "15874385"
                    ],
                    "contributor": [
                        "Deep Springs School."
                    ],
                    "lcc": [
                        "L--0013.00000000.T15 1928"
                    ],
                    "ddc": [
                        "370.6273"
                    ],
                    "last_modified_i": 1600119588,
                    "ebook_count_i": 0,
                    "publisher": [
                        "The Dunbar-Kerr Co., printers"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2307676A"
                    ],
                    "author_name": [
                        "Telluride Association."
                    ],
                    "place": [
                        "United States"
                    ],
                    "subject": [
                        "Education"
                    ],
                    "publisher_facet": [
                        "The Dunbar-Kerr Co., printers"
                    ],
                    "place_key": [
                        "united_states"
                    ],
                    "subject_facet": [
                        "Education"
                    ],
                    "_version_": 1715095820077891584,
                    "place_facet": [
                        "United States"
                    ],
                    "lcc_sort": "L--0013.00000000.T15 1928",
                    "author_facet": [
                        "OL2307676A Telluride Association."
                    ],
                    "subject_key": [
                        "education"
                    ],
                    "ddc_sort": "370.6273"
                },
                {
                    "key": "/works/OL7295649W",
                    "type": "work",
                    "seed": [
                        "/books/OL12901820M",
                        "/books/OL12901824M",
                        "/books/OL13286298M",
                        "/books/OL13286299M",
                        "/books/OL13286300M",
                        "/books/OL13286297M",
                        "/books/OL12902325M",
               [...]
